body {
    margin: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 10s ease infinite;
}

button:hover {
    background-color: #31b363;
    border: solid #31b363;
}

.session-id {
    text-align: right;
    padding: 25px;
}

.header {
    margin-top: 5vh;
    text-align: center;
}

#btn-group {
    margin-top: 5vh;
    text-align: center;
}

.create-btn {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: 0;
    background-color: #42d97c;
    border: solid #42d97c;
}

.join-btn {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: 0;
    margin-top: 0px;
    background-color: #42d97c;
    border: solid #42d97c;
}

.edit-btn {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-bottom: 20px;
    outline: 0;
    margin-top: 10px;
    background-color: #42d97c;
    border: solid #42d97c;
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form {
    text-align: center;
}

.form button {
    margin-top: 10px;
}

.song-input {
    color: black;
    font-weight: 500;
    width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-top: 25px;
    outline: 0;
    border: none;
    margin-bottom: 10px;
}

.code-input {
    color: black;
    font-weight: 500;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-top: 25px;
    outline: 0;
    border: none
}

.song-list {
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
}

.song-list th {
    width: 30vh;
}

.song-list tr {
    border: solid;
    border-width: 1px 0;
    border-color: aliceblue;
}

.song-list tr:first-child {
    border-top: none;
    height: 40px;
}

.song-list tr:last-child {
    border-bottom: none;
}

.song-list tr th:first-child {
    width: 5vh;
}

@media screen and (max-width: 680px) {
    .form input {
        width: 200px;
        padding-right: 15;
    }

    .song-list {
        margin-left: auto;
        margin-right: auto;
        font-size: 2vh;
    }

    .song-list th {
        width: 15vh;
    }

    .song-list tr {
        border: solid;
        border-width: 1px 0;
        border-color: aliceblue;
    }

    .song-list tr:first-child {
        border-top: none;
        height: 40px;
    }

    .song-list tr:last-child {
        border-bottom: none;
    }

    .song-list tr th:first-child {
        width: 4vh;
    }
}