<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <h5 class="session-id">Queue ID: <%=code%></h5>
    <h1 class="header">Queue Sync</h1>
    <form class="form">
        <input class="song-input" id="songKeywords" type="text" name="track-title" placeholder="Track Title">
        <button class="join-btn" id="search">Search</button>
        <br>
    </form>
    <script src="script.js"></script>

    <table id="search-list" class="song-list">
        <tr>
            <th class="notthere">test</th>
        </tr>
    </table>

    <table class="song-list">
        <tr class="table-header">
            <th></th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
        <tbody>
            <% let trackNum = 0; %>
            <% tracks.forEach(function(track){ %>
            <%trackNum++%>
            <tr>
                <th><%=trackNum%></th>
                <th><%= track.title %>
                <th><%= track.artist %></th>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>