<% include partials/header %>

<body>
    <h1 class="header">Queue Sync</h1>
    <h3 class="header">Room code: <%=code%></h3>
    <form class="form">
        <input class="song-input" type="text" name="track-title" placeholder="Track Title"><br>
        <button class="join-btn" onclick="">Add</button>
        <br>
    </form>
    <div style="text-align: center;">
        <button class="edit-btn">Edit</button>
    </div>

    <table class="song-list">
        <tr class="table-header">
            <th></th>
            <th>Track</th>
            <th>Artist</th>
        </tr>
        <tbody>
            <% int trackNum = 0; %>
            <% tracks.forEach(function(track){ i++%>
            <tr>
                <th><%=trackNum%></th>
                <th><%= track.title %>
                <th><%= track.artist %></th>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>