<% include partials/header %>

<body>
    <h1 class="header">Queue Sync</h1>
    <h2 style="text-align: center; margin-top: 7vh;">Search Results</h3>
        <table class="song-list">
            <tr class="table-header">
                <th></th>
                <th>Track</th>
                <th>Artist</th>
            </tr>
            <tbody>
                <% int trackNum = 0; %>
                <% tracks.forEach(function(track){ i++%>
                <tr>
                    <th><%=trackNum%></th>
                    <th><%= track.title %>
                    <th><%= track.artist %></th>
                    <th class="add-button">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <form class="form">
            <input class="song-input" type="text" name="track-title" placeholder="Track Title"><br>
            <button class="join-btn">Search</button>
        </form>
</body>

</html>